{%extends 'base_admin.html'%}

{%block title%}Admin category{% endblock  %}

{%block content%}
<!-- Main -->
<main class="py-6 bg-surface-secondary">
    <div class="container-fluid me-auto">
        <!-- Card stats -->
        <table class="table table-responsive text-center">
            <thead><a href="{% url 'add_new_category' %}" class="btn btn-success">Add new +</a></th>
            <tr>
                <th>ID</th>
                <th>category name</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            {% for i in category %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td><a href="/edit_category/{{i.id}}" class="btn btn-warning"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="/delete_category/{{i.id}}" class="btn btn-primary"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            </tbody>
            {%endfor%}
        </table>


    </div>
</main>
{% endblock  %}